<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Add Item</title>
    </head>
    <body>
        <h1>Add a ToDo Item:</h1>
        <form method="POST" action="add">  <!-- submitting the form to our 'add' url -->
            {% csrf_token %} <!-- randomly generated hidden input to varify the form data is coming from our app -->

            <!-- genertaing the form using form.py instead -->
            <!-- id => to target with CSS, name => to target the value within our views function -->
            <!-- <div>
                <p>
                    <label for="id_name">Name: </label>
                    <input type="text" id="id_name" name="item_name">
                </p>
            </div>
            <div>
                <p>
                    <label for="id_done">Done: </label>
                    <input type="checkbox" id="id_done" name="done">
                </p>
            </div> -->

            <!-- .as_p => 'as paragraphs' for vertical layout -->
            {{ form.as_p }}
            <div>
                <p>
                    <button type="submit">Add Item</button>
                </p>
            </div>
        </form>
    
    </body>
</html>